Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 0

BreakBeforeBraces: Custom
BraceWrapping:
  # 🔴 Force `else` onto a new line
  BeforeElse: true

AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true